<!--suppress TypeScriptUnresolvedVariable -->
<div class="d-flex" id="content-wrapper">
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  <!-- Sidebar -->
  <div id="sidebar-container" class="bg-primary">
    <div class="logo">
      <h4 class="text-light font-weight-bold mb-0">Sistema de Subastas</h4>
    </div>
    <div class="menu">
      <a *ngIf="rol === 'cliente' || rol === 'admin'" data-toggle="modal" data-target="#ventanaModalMon"
         class="d-block text-light p-3 border-0"><i
        class="icon ion-md-tv lead mr-2"></i>
        Monitoreo</a>

      <a *ngIf="rol === 'cliente' || rol === 'admin'" data-toggle="modal" data-target="#ventanaModalSub"
         class="d-block text-light p-3 border-0"><i
        class="icon ion-md-add-circle lead mr-2"></i>
        Nueva subasta</a>

      <a *ngIf="rol === 'admin'" data-toggle="modal" data-target="#ventanaModalCat"
         class="d-block text-light p-3 border-0"><i
        class="icon ion-md-bookmark lead mr-2"></i>
        Nueva categoria</a>

      <a *ngIf="rol === 'cliente' || rol === 'admin'" data-toggle="modal" data-target="#ventanaModalSubRealizadas"
         class="d-block text-light p-3 border-0"><i
        class="icon ion-md-time lead mr-2"></i>
        Historial subastas realizadas</a>

      <a *ngIf="rol === 'proveedor' || rol === 'admin'" data-toggle="modal" data-target="#ventanaModalSubOfertadas"
         class="d-block text-light p-3 border-0"><i
        class="icon ion-md-time lead mr-2"></i>
        Historial subastas ofertadas</a>

    </div>
  </div>

  <!-- Fin sidebar -->
  <div class="w-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline position-relative d-inline-block my-2">
            <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn position-absolute btn-search" type="submit"><i class="icon ion-md-search"></i></button>
          </form>
          <ul class="navbar-nav ml-auto">
            <li *ngIf="rol === 'cliente'" class="mt-2">
              <i
                class="bi bi-inboxes mr-4 p-text-secondary"
                pBadge style="font-size: 22px"
                value="{{listaOfertaContratada.length}}"
                (click)="verNotificaciones()"
                pTooltip="Contratos"
                tooltipPosition="bottom"></i>
            </li>
            <li *ngIf="rol === 'proveedor'" class="mt-3">
              <i
                class="bi bi-trophy mr-4 p-text-secondary"
                pBadge style="font-size: 22px"
                value="{{listaOfertaGanadora.length}}"
                (click)="verNotificaciones()"
                pTooltip="Ofertas Ganadas"
                tooltipPosition="bottom"></i>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img
                  src="https://www.pinclipart.com/picdir/big/164-1640714_user-symbol-interface-contact-phone-set-add-sign.png"
                  class="img-fluid rounded-circle avatar mr-2"/>
                {{nombreUserLog}}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" data-toggle="modal" data-target="#ventanaModalPerfil">Mi perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/login" (click)="cerrarSesion()">Cerrar sesión</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Fin Navbar -->

    <!-- Page Content -->
    <div id="content" class="bg-grey w-100">

      <section class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-8">
              <h1 class="font-weight-bold mb-1">¡Hola {{nombreUserLog}}!</h1>
              <p class="lead text-muted">El equipo de NextSharp te da la bienvenida.</p>
            </div>
          </div>
        </div>
      </section>


      <!--Cards de subastas-->
      <section class="bg-mix py-3">
        <p-accordion *ngIf="rol === 'cliente'">
          <p-accordionTab header="Mis subastas">
            <div *ngIf="subastasUser.length > 0" class="p-4">
              <p-carousel
                [value]="subastasUser"
                [numVisible]="3"
                [numScroll]="3"
                [circular]="false"
              >
                <ng-template pTemplate="header">
                  <h3>Subastas en estado activo</h3>
                </ng-template>
                <ng-template  let-subasta pTemplate="item">
                  <p-card header="{{subasta.tituloSubasta}}" subheader="{{subasta.descripcionSubasta}}" [style]="{width: '350px'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                      <img alt="Card" src="http://localhost:9090/auth/subasta/photos/{{subasta.imgSubasta}}">
                    </ng-template>
                    <h2></h2>
                    <ng-template pTemplate="footer">
                      <p></p>
                    </ng-template>
                  </p-card>
                  <br>
                </ng-template>
              </p-carousel>
            </div>
          </p-accordionTab>
        </p-accordion>
        <div *ngIf="!verNotifiCliente && !verNotifiProveedor" class="container text-center">
          <div class="row">
            <div *ngIf="subastasBD.length === 0">No hay subastas para mostrar</div>
            <div class="col p-2 mt-2" *ngFor="let subasta of subastasBD">
              <p-card header="{{subasta.tituloSubasta}}" subheader="" [style]="{width: '360px'}"
                      styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                  <p-image
                    src="http://localhost:9090/auth/subasta/photos/{{subasta.imgSubasta}}"
                    [preview]="true" width="205px" height="205px">
                  </p-image>
                  <!--<img alt="Card" src="http://localhost:9090/auth/subasta/photos/{{subasta.imgSubasta}}" style="width: 200px; height: 100px; object-fit: cover;" (click)="">-->
                </ng-template>
                <p>{{subasta.descripcionSubasta}}</p>
                <p>
                  <strong>
                    Cliente:
                  </strong>
                  {{subasta.cliente.nombre +' '+ subasta.cliente.apellido}}
                </p>
                <p>
                  <strong>
                    Fecha Inicio:
                  </strong>
                  {{subasta.fechaInicio | date: 'dd/mm/yyyy'}}</p>

                <p>
                  <strong>
                    Fecha Cierre:
                  </strong>
                  {{subasta.fechaFin | date: 'dd/mm/yyyy'}}</p>
                <ng-template pTemplate="footer">
                  <button *ngIf="rol === 'proveedor' || rol === 'admin'" type="button" class="btn btn-primary"
                          data-toggle="modal"
                          (click)="observarSubastaSelected(subasta)">
                    Ofertar
                  </button>
                </ng-template>
              </p-card>
            </div>
          </div>
        </div>
      </section>

      <section *ngIf="verNotifiCliente">
        <div>
          <div class="container text-center">
            <h3>Contratos realizados</h3>
            <div class="row">
              <div *ngIf="listaOfertaContratada.length === 0">No hay contratos realizados</div>
              <div class="col p-2 mt-2" *ngFor="let oferta of listaOfertaContratada">
                <!--suppress TypeScriptUnresolvedVariable -->
                <p-card header="{{oferta.subasta.tituloSubasta}}" subheader="" [style]="{width: '460px'}"
                        styleClass="p-card-shadow">
                  <ng-template pTemplate="header">
                    <p-image
                      src="http://localhost:9090/auth/subasta/photos/{{oferta.subasta.imgSubasta}}"
                      [preview]="true" width="205px" height="205px">
                    </p-image>
                    <!--<img alt="Card" src="http://localhost:9090/auth/subasta/photos/{{subasta.imgSubasta}}" style="width: 200px; height: 100px; object-fit: cover;" (click)="">-->
                  </ng-template>
                  <p>{{oferta.subasta.descripcionSubasta}}</p>
                  <span>
                    <strong>
                      Fecha Inicio:
                    </strong>
                    {{oferta.subasta.fechaInicio | date: 'dd/mm/yyyy'}}</span>
                  <span>
                    <strong>
                      Fecha Cierre:
                    </strong>
                    {{oferta.subasta.fechaFin | date: 'dd/mm/yyyy'}}</span>
                  <ng-template pTemplate="footer">
                    <p-accordion>
                      <p-accordionTab header="Detelle del proveedor" [selected]="true">
                        <div class="text-start">
                          <ul>
                            <!--suppress TypeScriptUnresolvedVariable -->
                            <i class="bi bi-file-person"></i>
                            <strong>
                              Nombre :
                            </strong> {{oferta.proveedor.nombre + ' ' + oferta.proveedor.apellido}}
                            <li class="mt-2" style="list-style:none;">
                              <i class="bi bi-whatsapp"></i>
                              <strong>
                                Telefono:
                              </strong> {{oferta.proveedor.telefono}}
                            </li>
                            <li class="mt-2" style="list-style:none;">
                              <i class="bi bi-envelope-at-fill"></i>
                              <strong>
                                Correo:
                              </strong> {{oferta.proveedor.email}}
                            </li>
                          </ul>
                        </div>
                      </p-accordionTab>
                    </p-accordion>
                    <br>
                    <p-button [disabled]="oferta.calificacion > 0" (onClick)="verModalCalificacion=true">Clificar</p-button>
                  </ng-template>
                </p-card>

                <div>
                  <p-dialog class="text-start" header="Calificación" [(visible)]="verModalCalificacion" [modal]="true"
                            [style]="{width: '28vw'}"
                            [draggable]="false" [resizable]="false">
                    <p-rating [(ngModel)]="estrellas" [cancel]="false"></p-rating>
                    <br>
                    <form [formGroup]="formNuevaOferta">
                      <textarea rows="5" cols="50" pInputTextarea formControlName="comentarioCalificacion" placeholder="Comentario"></textarea>
                    </form>
                    <ng-template pTemplate="footer">
                      <p-button icon="pi pi-check" (click)="calificarOferta(oferta)" label="Ok"
                                styleClass="p-button-text"></p-button>
                    </ng-template>
                  </p-dialog>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

      <section *ngIf="verNotifiProveedor">
        <div>
          <div class="container text-center">
            <h3>Subastas Ganadas</h3>
            <div class="row">
              <div *ngIf="listaOfertaGanadora.length === 0">No hay subastas ganadoras</div>
              <div class="col p-2 mt-2" *ngFor="let oferta of listaOfertaGanadora">
                <!--suppress TypeScriptUnresolvedVariable -->
                <p-card header="{{oferta.subasta.tituloSubasta}}" subheader="" [style]="{width: '460px'}"
                        styleClass="p-card-shadow">
                  <ng-template pTemplate="header">
                    <p-image
                      src="http://localhost:9090/auth/subasta/photos/{{oferta.subasta.imgSubasta}}"
                      [preview]="true">
                    </p-image>
                    <!--<img alt="Card" src="http://localhost:9090/auth/subasta/photos/{{subasta.imgSubasta}}" style="width: 200px; height: 100px; object-fit: cover;" (click)="">-->
                  </ng-template>
                  <p>{{oferta.subasta.descripcionSubasta}}</p>
                  <span>
                    <strong>
                      Fecha Inicio:
                    </strong>
                    {{oferta.subasta.fechaInicio | date: 'dd/mm/yyyy'}}</span>
                  <span>
                    <strong>
                      Fecha Cierre:
                    </strong>
                    {{oferta.subasta.fechaFin | date: 'dd/mm/yyyy'}}</span>
                  <ng-template pTemplate="footer">
                    <p-accordion>
                      <p-accordionTab header="Detelle del cliente" [selected]="true">
                        <div class="text-start">
                          <ul>
                            <!--suppress TypeScriptUnresolvedVariable -->
                            <i class="bi bi-file-person"></i>
                            <strong>
                              Nombre :
                            </strong> {{oferta.subasta.cliente.nombre + ' ' + oferta.subasta.cliente.apellido}}
                            <li class="mt-2" style="list-style:none;">
                              <i class="bi bi-whatsapp"></i>
                              <strong>
                                Telefono:
                              </strong> {{oferta.subasta.cliente.telefono}}
                            </li>
                            <li class="mt-2" style="list-style:none;">
                              <i class="bi bi-envelope-at-fill"></i>
                              <strong>
                                Correo:
                              </strong> {{oferta.subasta.cliente.email}}
                            </li>
                          </ul>
                        </div>
                      </p-accordionTab>
                    </p-accordion>
                    <br>
                    <p-button *ngIf="oferta.calificacion > 0" (onClick)="modalDetalleCalificacion(oferta)">Detalle calificación</p-button>
                  </ng-template>
                </p-card>

                <div>
                  <p-dialog class="text-start" header="Calificación" [(visible)]="verDetaCalificacion" [modal]="true"
                            [style]="{width: '28vw'}"
                            [draggable]="false" [resizable]="false" *ngFor="let ofertaCali of ofertaCalificada">
                    <p-rating [(ngModel)]="ofertaCali.calificacion" [cancel]="false" [readonly]="true"></p-rating>
                    <br>
                    <form [formGroup]="formNuevaOferta">
                      <textarea
                        rows="5"
                        cols="50"
                        pInputTextarea formControlName="comentarioCalificacion"
                        placeholder="{{ofertaCali.comentario_calificacion_oferta}}"
                        [readonly]="true">
                      </textarea>
                    </form>
                    <ng-template pTemplate="footer">
                      <p-button icon="pi pi-check" (click)="verDetaCalificacion = false" label="Ok"
                                styleClass="p-button-text"></p-button>
                    </ng-template>
                  </p-dialog>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>


<!--P R O V E E D O R-->

<!--Modal de Contratar Oferta-->

<div *ngIf="mostrarAnimacionCarga">
  <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</div>
<p-dialog header="Realizar oferta" [(visible)]="verContratarOferta" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
  <p-message severity="info"
             text="Recuerda que no podrás ver las ofertas de otros proveedores y de la misma manera los
                demás proveedores no podrá ver tu oferta. Solo el dueño de la subasta
                podrá ver las ofertas realizadas. Tambien no podrás cambiar el valor de tu oferta
                una vez hayas publicado el mismo." styleClass="mr-2"></p-message>
  <form class="row g-3 mt-3" [formGroup]="formNuevaOferta">
    <!--Precio y boton de ofertar-->
    <div class="col">
      <label for="inputPrecioS" class="form-label">Ingresar Precio</label>
      <input type="number" class="form-control" id="inputPrecioS" formControlName="precioOferta"
             (change)="observarPrecioOferta()">
      <small *ngIf="formNuevaOferta.get('precioOferta').hasError('required')
                        && formNuevaOferta.get('precioOferta').touched" class="text-danger">
        Debes ingresar un valor a ofertar
      </small>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="ofertarSubasta()" [disabled]="isValorOferta" label="Ofertar"
              styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<!--MODAL DE HISTORIAL DE SUBASTAS PUJADAS-->

<div class="modal" tabindex="-1" id="ventanaModalSubOfertadas">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Historial de Subastas Ofertadas</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Tabla-->
        <p-table [value]="listarOfertaPro" [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th>Fecha</th>
              <th>Precio Oferta</th>
              <th>Titulo Subasta</th>
              <th>Descripcion Subasta</th>
              <th>Servicio Ofertado</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-oferta>
            <tr>
              <td>{{oferta.fecha | date: 'dd/MM/yyyy'}}</td>
              <td>{{oferta.percioOferta}}</td>
              <td>{{oferta.subasta.tituloSubasta}}</td>
              <td>{{oferta.subasta.descripcionSubasta}}</td>
              <td>{{oferta.subasta.servicio.nombreServicio}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>


<!--C L I E N T E-->

<!--Modal de nueva subasta-->

<div class="modal" tabindex="-1" id="ventanaModalSub">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nueva Subasta</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Layout-->

        <form class="row g-3" [formGroup]="formNuevaSubasta">

          <div class="text-center">
            <img src="assets/add_photo.png" class="img-fluid rounded-circle" width="130px"/>
          </div>
          <p>Solo se aceptan formatos tipo imagen (.png, .jpg, .jpeg, ect...)</p>
         <input class="form-control" type="file" id="archivo" formControlName="imagenSubasta"
                 (change)="onFileSelected($event)"  accept="image/*">
          <div class="col-md-6">
            <label for="inputNombre" class="form-label"><span style="color: #c50000">*</span>Titulo para servicio solicitado</label>
            <input type="text" class="form-control" id="inputNombre" formControlName="tituloSubasta">
            <small *ngIf="formNuevaSubasta.get('tituloSubasta').hasError('required')
                      && formNuevaSubasta.get('tituloSubasta').touched" class="text-danger">
              Este dato es obligatorio
            </small>
          </div>
          <div class="col-md-6">
            <label for="inputFechI" class="form-label"><span style="color: #c50000">*</span>Fecha de inicio</label>
            <input type="date" class="form-control" [placeholder]="fechaActual" id="inputFechI"
                   formControlName="fechaInicioSubasta">
            <small *ngIf="formNuevaSubasta.get('fechaInicioSubasta').hasError('required')
                      && formNuevaSubasta.get('fechaInicioSubasta').touched" class="text-danger">
              Este dato es obligatorio
            </small>
          </div>

          <div class="col-md-6">
            <label for="inputDes" class="form-label"><span style="color: #c50000">*</span>Descripcion</label>
            <input type="text" class="form-control" id="inputDes" formControlName="descripcionSubasta">
            <small *ngIf="formNuevaSubasta.get('descripcionSubasta').hasError('required')
                      && formNuevaSubasta.get('descripcionSubasta').touched" class="text-danger">
              Este dato es obligatorio
            </small>
          </div>

          <div class="col-md-6">
            <label for="inputFech" class="form-label"><span style="color: #c50000">*</span>Fecha de cierre</label>
            <input type="date" class="form-control" id="inputFech" formControlName="fechaFinSubasta">
            <small *ngIf="formNuevaSubasta.get('fechaFinSubasta').hasError('required')
                      && formNuevaSubasta.get('fechaFinSubasta').touched" class="text-danger">
              Este dato es obligatorio
            </small>
          </div>

          <div class="col-md-6">
            <label class="form-label"><span style="color: #c50000">*</span>Categoria</label>
            <br>
            <p-dropdown
              [options]="serviciosBD"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              placeholder="Seleccione un servicio"
              optionLabel="name"
              formControlName="servioSolicitado">
            </p-dropdown>
            <small *ngIf="formNuevaSubasta.get('servioSolicitado').hasError('required')
                      && formNuevaSubasta.get('servioSolicitado').touched" class="text-danger">
              Este dato es obligatorio
            </small>
          </div>

          <div class="col-md-6">
            <label for="inputHc" class="form-label"><span style="color: #c50000">*</span>Hora de cierre</label>
            <input type="time" class="form-control" id="inputHc" formControlName="horaCierreSubasta">
            <small *ngIf="formNuevaSubasta.get('horaCierreSubasta').hasError('required')
                      && formNuevaSubasta.get('horaCierreSubasta').touched" class="text-danger">
              Este dato es obligatorio
            </small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="crearSubasta()" [disabled]="!formNuevaSubasta.valid">Agregar Subasta</button>
      </div>
    </div>
  </div>
</div>

<!--Modal de Servicios Contratados-->

<div class="modal" tabindex="-1" id="ventanaModalSerCon">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Servicios Contratados</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Tabla-->
        <p-table [value]="subastaEstadoFin" [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Category</th>
              <th>Quantity</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{product.code}}</td>
              <td>{{product.name}}</td>
              <td>{{product.category}}</td>
              <td>{{product.quantity}}</td>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>
  </div>
</div>

<!--MODAL DE HISTORIAL DE SUBASTAS REALIZADAS-->
<div class="modal" tabindex="-1" id="ventanaModalSubRealizadas">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Historial de Subastas Realizadas</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Tabla-->
        <p-table [value]="subastaEstadoFin" [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th>Titulo</th>
              <th>Descripcion</th>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              <th>Estado</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-subasta>
            <tr>
              <td>{{subasta.tituloSubasta}}</td>
              <td>{{subasta.descripcionSubasta}}</td>
              <td>{{subasta.fechaInicio | date: 'dd/MM/yyyy'}}</td>
              <td>{{subasta.fechaFin | date: 'dd/MM/yyyy'}}</td>
              <td>{{subasta.estadoSubasta}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<!--Modal de Monitoreo-->

<div class="modal" tabindex="-1" id="ventanaModalMon">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Monitoreo de Subastas</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Tabla-->
        <div class="card">
          <p-table #dt [value]="subastaEstado" [rows]="10" [paginator]="true"
                   [globalFilterFields]="['name','country.name','representative.name','status']"
                   [tableStyle]="{'min-width': '68rem'}"
                   [rowHover]="true" dataKey="id"
                   currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                   [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Subastas en proceso</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                  <!--                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />-->
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="Subasta">Subasta</th>
                <th pSortableColumn="Descripcion" style="min-width:8rem">Descripcion</th>
                <th pSortableColumn="Fecha Inicio">Fecha Inicio</th>
                <th pSortableColumn="Fecha Cierre" style="min-width:5rem">Fecha Cierre</th>
                <th pSortableColumn="Estado" style="min-width:5rem">Estado</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-subasta>
              <tr>
                <td>{{subasta.tituloSubasta}}</td>
                <td>{{subasta.descripcionSubasta}}</td>
                <td>{{subasta.fechaInicio | date: 'dd/MM/yyyy'}}</td>
                <td>{{subasta.fechaFin | date: 'dd/MM/yyyy'}}</td>
                <td>{{subasta.estadoSubasta}}</td>
                <td>
                  <button pButton pRipple icon="pi pi-inbox" class="p-button-rounded p-button-success mr-2"
                          (click)="verOfertas(subasta)"></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <!--              <div class="flex align-items-center justify-content-between">-->
              <!--                In total there are {{products ? products.length : 0 }} products.-->
              <!--              </div>-->
            </ng-template>
          </p-table>
        </div>

        <!--Dialog ofertas de subasta-->
        <p-dialog header="Ofertas recibidas" [(visible)]="mostrarDialogOferta" [position]="posicionDialogOferta"
                  [modal]="true" [style]="{width: '50vw'}"
                  [draggable]="false" [resizable]="false">

          <div class="container">
            <div class="row">
              <div *ngIf="ofertasPorSubasta.length === 0">Aun no se han registrado ofertas</div>
              <div *ngFor="let ofer of ofertasPorSubasta" class="col mt-3">
                <p-card
                  header="{{ofer.proveedor.nombre +' '+ ofer.proveedor.apellido}}"
                  subheader="Precio Oferta: {{ofer.percioOferta}}"
                  [style]="{width: '360px'}"
                  styleClass="p-card-shadow">
                  <ng-template pTemplate="footer">
                    <p>
                      <strong>Email:</strong>{{' ' + ofer.proveedor.email}}
                    </p>
                    <p>
                      <strong>Telefono:</strong>{{' ' + ofer.proveedor.email}}
                    </p>
                    <p>
                      <strong>Años Experiencia:</strong>{{' ' + ofer.proveedor.anios_experiencia}}
                    </p>
                    <button (click)="confirm(ofer)" pButton icon="pi pi-check" label="Confirm"></button>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
          <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


          <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="mostrarDialogOferta=false" label="Ok"
                      styleClass="p-button-text"></p-button>
          </ng-template>
        </p-dialog>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar Monitoreo</button>
      </div>
    </div>
  </div>
</div>


<!--G E N E R A L E S-->

<!--Modal de Pefil de Usuario-->

<div class="modal" tabindex="-1" id="ventanaModalPerfil">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Perfil de Usuario</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Tabla-->
        <form class="row g-3" [formGroup]="formEditarUsuario">
          <div class="text-right" style="cursor: pointer" (click)="editarUsuario()">
            <small>Editar</small>
            <i class="bi bi-pencil-square"></i>
          </div>
          <div class="text-center">
          </div>
          <div class="col-md-6">
            <label for="inputNombreP" class="form-label">Nombre</label>
            <input [readonly]="editarUser" type="text" class="form-control" id="inputNombreP" formControlName="nombre">
          </div>
          <div class="col-md-6">
            <label for="inputTelefono" class="form-label">Telefono</label>
            <input [readonly]="editarUser" type="text" class="form-control" id="inputTelefono" formControlName="telefono">
          </div>

          <div class="col-md-6">
            <label for="inputApellido" class="form-label">Apellido</label>
            <input [readonly]="editarUser" type="text" class="form-control" id="inputApellido" formControlName="apellido">
          </div>

          <div class="col-md-6">
            <label for="inputDireccion" class="form-label">Direccion</label>
            <input [readonly]="editarUser" type="text" class="form-control" id="inputDireccion" formControlName="direccion">
          </div>

          <div class="col-md-6">
            <label for="inputEmail" class="form-label">Email</label>
            <input [readonly]="editarUser" type="email" class="form-control" id="inputEmail" formControlName="email">
          </div>

          <p-button
            *ngIf="this.rol === 'proveedor'"
            (onClick)="verDialogoAddServi = true"
            [disabled]="editarUser">
          Mis servicios</p-button>
          <p-dialog header="Agregar Servicios" [(visible)]="verDialogoAddServi" [modal]="true"
                    [style]="{width: '90vw', height: '150vw'}"
                    [draggable]="false" [resizable]="true">
            <div>
              <div class="text-center mt-5">
                <p>Años de Experiencia: {{aniosExp}}</p>
                <br>
                <p-slider [(ngModel)]="aniosExp" (onChange)="observarAnioExp()" formControlName="aniosExp"></p-slider>
                <small class="text-danger mt-3" *ngIf="anioInsuficientes">
                  Años de experiencia insuficientes
                </small>
              </div>
              <div class="mt-5" [formGroup]="formEditarUsuario">
                <p-dropdown
                  [options]="serviciosBD"
                  [filter]="true"
                  filterBy="name"
                  [showClear]="true"
                  placeholder="Seleccione un servicio"
                  optionLabel="name"
                  formControlName="servicio"
                  (onChange)="observarServicio()">
                </p-dropdown>
                <p-button
                  class="ml-3"
                  label="Agregar servicio"
                  icon="pi pi-plus"
                  styleClass="p-button-sm"
                  (onClick)="agregarServicio()">
                </p-button>
              </div>

              <div class="row mt-5">
                <div class="mt-3 shadow p-3 mb-5 bg-body rounded">
                  <p-table #dt [value]="serviciosAgregados" [rows]="10" [paginator]="true"
                           [globalFilterFields]="['name']"
                           [tableStyle]="{'min-width': '75rem'}" [rowHover]="true" dataKey="id"
                           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                           [showCurrentPageReport]="true">

                    <ng-template pTemplate="header">
                      <tr>
                        <th pSortableColumn="service">Servicio
                          <p-sortIcon field="service"></p-sortIcon>
                        </th>
                        <th pSortableColumn="description" style="min-width:15rem">Descripción
                          <p-sortIcon field="description"></p-sortIcon>
                        </th>
                        <th pSortableColumn="inventoryStatus" style="min-width:10rem"></th>
                        <th></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-servi>
                      <tr>
                        <td>{{servi.nombreServicio}}</td>
                        <td>{{servi.descripcion_servicio}}</td>
                        <td>
                          <button
                            pButton pRipple
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-warning"
                            (click)="eliminarServicio(servi)">
                          </button>
                        </td>
                        <td></td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                      <div class="flex align-items-center justify-content-between">
                        Número de servicios agregados: {{serviciosAgregados ? serviciosAgregados.length : 0 }}.
                      </div>
                    </ng-template>
                  </p-table>
                </div>
              </div>

            </div>
            <br>
            <ng-template pTemplate="footer">
              <p-button
                icon="pi pi-check"
                (onClick)="cerrarDialogo()"
                label="Ok" styleClass="p-button-text"
                [disabled]="buttonDialogDisabled">
              </p-button>
            </ng-template>
          </p-dialog>

        </form>

      </div>
      <div class="modal-footer">
        <p-button [disabled]="editarUser" type="button" class="btn btn-primary" data-toggle="modal" (onClick)="datosForm()">Guardar los cambios
        </p-button>
      </div>
    </div>
  </div>
</div>


<!--Modal de ACTUALIZARR Pefil de Usuario-->

<div class="modal" tabindex="-1" id="ventanaModalPerfil2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Actualizar Perfil de Usuario</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Tabla-->
        <form class="row g-3">
          <div class="text-center">
            <img src="assets/user-2.jpg" class="img-fluid rounded-circle" width="130px"/>
          </div>
          <input class="form-control" type="file" id="archivo2">
          <div class="col-md-6">
            <label for="inputNombreP2" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombreP2">
          </div>
          <div class="col-md-6">
            <label for="inputTelefono2" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="inputTelefono2">
          </div>

          <div class="col-md-6">
            <label for="inputApellido2" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="inputApellido2">
          </div>

          <div class="col-md-6">
            <label for="inputUsuario2" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="inputUsuario2">
          </div>

          <div class="col-md-6">
            <label for="inputDireccion2" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="inputDireccion2">
          </div>

          <div class="col-md-6">
            <label for="inputPassword2" class="form-label">Contraseña</label>
            <input type="text" class="form-control" id="inputPassword2">
          </div>

          <div class="col-md-6">
            <label for="inputEmail2" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail2">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<!--A D M I N-->

<!--Modal de Categoria-->

<!--Modal de Categoria-->

<div class="modal" tabindex="-1" id="ventanaModalCat">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nueva Categoria</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Layout-->

        <form class="row g-3" [formGroup]="formNuevoServicio">
          <div class="mb-3">
            <label for="nombreCategoria" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombreCategoria" placeholder="Ingrese el nombre categoría"
                   formControlName="tituloServicio">
          </div>

          <div class="mb-3">
            <label for="descripcionCategoria" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="descripcionCategoria" placeholder="Ingrese descripcion"
                   formControlName="tituloDescripcion">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="crearServicio()">Agregar Categoría</button>
      </div>
    </div>
  </div>
</div>










