<!--<section id="hero" >-->
<!--  <div class="hero container">-->
<!--    <div>-->
<!--      <h1>Bienvenido al Sistema de Subastas</h1>-->
<!--      <br>-->
<!--      <button type="button" class="btn btn-dark btn-lg" routerLink="/login">Iniciar Sesion</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<div class="nav-bar">
  <nav>
    <div class="logo-app">
      <a href="#">
        <img src="assets/logo-app2.png">
        <h4>NextSharp</h4>
      </a>
    </div>
    <!-- <div class="menu">
      <ul>
        <li><a href="#">Incio</a></li>
        <li><a href="#">Documentacion</a></li>
      </ul>
    </div> -->
    <div class="ista-logo">
      <a href="https://www.tecazuay.edu.ec/main/index.php" target="_blank">
        <img src="assets/ista-logo.png">
      </a>
    </div>
  </nav>
</div>


<section class="banner">
  <div>
    <h4>¿Estás listo para vivir una experiencia única de compra y venta en línea?</h4>
    <h2>¡Bienvenido a NextSharp,<br>el mejor sistema de subastas inversas!</h2>
    <button class="button-66" role="button" routerLink="/login">Comenzar ahora</button>
  </div>
  <div class="image-container">
    <img src="assets/bella-mujer-sonriente.jpeg" />
  </div>
</section>
<section>

  <div class="main-container">
    <div class="first-container share">
      <h1><span id="one">H</span><span>O</span><span>L</span><span>A</span><span>M</span><span>U</span><span>N</span><span>D</span><span>O</span><span>!</span></h1>
    </div>
  </div>

  <div class="presentation">
<!--    <img src="../img/hello-1.gif">-->
    <p class="fs-4">
      ¡Hola! Quiero contarte sobre un proyecto muy chévere que hemos creado los estudiantes egresados
      del Instituto Superior Tecnológico del Azuay. Resulta que hemos desarrollado un sistema que permite
      hacer subastas inversas, lo cual básicamente significa que diferentes proveedores compiten para
      ofrecer el precio más bajo posible para prestar un servicio a una entidad pública. Estoy muy contento
      porque este sistema es genial ya que la entidad pública puede obtener un precio mucho más competitivo
      para el servicio que necesita. Además, este proyecto es el resultado de un examen complexivo que
      teníamos que pasar para poner en práctica todos nuestros conocimientos en tecnología y desarrollo de
      software. ¡Esperemos que te guste!
    </p>
  </div>
</section>

<div class="footer-section">
  <div class="footer-img-top">
    <img src="assets/logo-app-footer.png" width="50px"/> <span>NextSharp</span>
    <img src="assets/ista-logo.png" width="150px"/>
  </div>
  <footer class="top">
    <div class="links">
      <div>
        <h2>Sistema</h2>
        <a>NextSharp</a>
      </div>
      <div>
        <h2>ISTA</h2>
        <a>Examen Complexivo</a>
      </div>
    </div>
  </footer>
  <footer class="bottom">
    <div class="legal">
      <p>Copyright © 2022 ISTA and Students. All rights reserved.</p>
    </div>
  </footer>
</div>

