<div class="wrapper fadeInDown " style="min-height: 100vh">
  <p-toast></p-toast>
  <div id="formContent">
    <i class="bi bi-arrow-left-short fs-1 text-primary justify-content-start row ml-3 mt-3" routerLink="/"></i>
    <div class="mt-3">
      <img src="https://i.postimg.cc/bvfw7w1P/logo-op2-small.png" width="300em">
    </div>
    <form [formGroup]="formLoginUsuario" class="p-3">

      <input formControlName="nombreUsuario" type="text" id="email" name="username" class="fadeIn second" placeholder="Usuario">
      <input formControlName="contrasenia" type="password" id="password" name="password" class="fadeIn third mb-3" placeholder="Contraseña">
<!--      routerLink="/dashboard"-->
      <input type="submit" name="Login" id="go" class="fadeIn fourth mb-5" value="INICIAR SESIÓN" (click)="onLogin()">

      <br>
      <a mat-button color="primary" routerLink="/sign-up">¿Aun no tienes una cuenta? Registrate Ahora</a>

    </form>
  </div>
</div>
